{require_otp_vsn, "17"}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
  {erl_sshd, ".*", {git, "https://github.com/marcsugiyama/erl_sshd.git",
                    {branch, 'master'}}},
  {dobby_rest, ".*", {git, "https://github.com/marcsugiyama/dobby_rest.git",
                      {branch,"dobby_rest-lib"}}}]
 }.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.
