{require_otp_vsn, "17"}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
  {erl_sshd, ".*", {git, "https://github.com/marcsugiyama/erl_sshd.git",
                    {branch, 'master'}}},
  {dobby_rest, ".*", {git, "https://github.com/marcsugiyama/dobby_rest.git",
                      {branch,"dobby_rest-lib"}}},
  {dobby_ui, "", {git, "https://github.com/ivanos/dobby_ui_lib.git",
                  {branch, "master"}}, [raw]}]
 }.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.

{post_hooks, [{'get-deps', "sh -c 'cd deps/dobby_ui && npm install && cd -'"},
              {compile,
               "sh -c 'cp -r deps/dobby_ui/www deps/dobby_rest/priv/static'"}]}.
